.exercises-workout-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.workout-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}