.exercise-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.category-img {
    width:50%;
}

.exercise-cards-section {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 5px;
}

img {
    border-radius: 5px;
}

.exercise-card {
    border: 1px solid #a90b0b;
    border-radius: 10px;
    margin: 2px;
    padding: 5px;
}

@media screen and (max-width: 600px) {
    .exercise-cards-section {
        grid-template-columns: repeat(2, 1fr);

    }
}