.exercise-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.category-img {
    width:50%;
}

.exercise-cards-section {
    display:grid;
    grid-template-columns: repeat(4, 1fr);

}

.exercise-card {
    border: 1px solid black;
    border-radius: 10px;
    margin: 2px;
    padding: 4px;
}








/* .set-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

/* .sets {
    display: flex;
    flex-direction: row;
    align-items: center;
} */

/* input {
    margin: 0;
} */
