.exercise-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.set-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.sets {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input {
    margin: 0;
}

.x {
    margin:3px;
}